<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <title>Document</title>
</head>
<body>
  <input type="button" onclick="location.href='/usernameChange';" value="Change username" />
    Username: <%= username%>

    <form method="POST">
      <% if ( locals.message ) { %>
        <div class="warning">
            <%= locals.message %>
        </div>
        <% } %>
        <div>
            Input room name.
        </div>
        Room: <input type="text" name="roomid" value='<%=''%>' />
    <div>
        <button>Confirm</button>
    </div>
    </form>
    <table border="1" style="width: 50%">
      <colgroup>
        <col style="width: 3%;">
        <col style="width: 6%;">
        <col style="width: 3%;">
       </colgroup>
      <tr>
          <th bgcolor="lightgray"> Number</th>
          <th bgcolor="lightgray">Room name</th>
          <th bgcolor="lightgray">Players in room</th>
      </tr>
      <% for( let i in locals.data ) { %>
        <tr>
          <th bgcolor="lightgray"><%= (Number(i) + Number(1)) %></th>
          <th bgcolor="lightcyan"><%= locals.data[i].name %></th>
          <th bgcolor="lightcyan"><%= locals.data[i].n_players %></th>
        </tr>
      <% } %>
  </table>
</body>
</html>